{% extends 'base.html' %}
{% block content %}
{% include 'nave/nave.html' %}
    
<div class="container mt-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        <strong>{{ category | capitalize }}!</strong> {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <h3 class="text-editar text-center mb-4" style="color: #297272;">Editar Dados</h3>
    
    <form method="POST" class="row mt-4 p-4 rounded shadow-lg" style="background-color: #E8EEEE;">
        {{ form.hidden_tag() }}

        <div class="form-group mb-3">
            {{ form.nome.label(class="form-label text-muted") }}
            {{ form.nome(class="form-control custom-textarea", placeholder="Digite seu Nome", style="background-color: #D9D9D9;") }}
        </div>
        
        <div class="form-group mb-3">
            {{ form.sobrenome.label(class="form-label text-muted") }}
            {{ form.sobrenome(class="form-control custom-textarea", placeholder="Digite seu Sobrenome", style="background-color: #D9D9D9;") }}
        </div>
        
        <div class="form-group mb-3">
            {{ form.email.label(class="form-label text-muted") }}
            {{ form.email(class="form-control custom-textarea", placeholder="Digite seu E-mail", style="background-color: #D9D9D9;") }}
        </div>
        
        <div class="form-group mb-3">
            {{ form.senha.label(class="form-label text-muted") }}
            {{ form.senha(class="form-control", placeholder="Nova Senha (opcional)", style="background-color: #D9D9D9;") }}
        </div>
        
        <div class="form-group mb-3">
            {{ form.confirmacao_senha.label(class="form-label text-muted") }}
            {{ form.confirmacao_senha(class="form-control", placeholder="Confirme sua Nova Senha", style="background-color: #D9D9D9;") }}
        </div>
        
        <div class="form-group mb-3">
            {{ form.btnSubmit(class="btn btn-warning w-100") }}
        </div>
    </form>
</div>

<style>
    body {
        background-color: #E8EEEE; /* Cor de fundo do body */
    }

    .custom-textarea {
        height: auto;
        border: 2px solid #D9D9D9;
        border-radius: 5px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .form-group label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .btn-primary {
        background-color: #185757;
        border-color: #185757;
    }

    .btn-primary:hover {
        background-color: #D1A247;
        border-color: #D1A247;
    }

    .btn-warning {
        background-color: #D1A247;
        border-color: #D1A247;
    }

    .btn-warning:hover {
        background-color: #185757;
        border-color: #185757;
    }

    .container {
        padding: 30px;
        border-radius: 10px;
    }

    .form-control {
        border: 2px solid #D9D9D9;
        border-radius: 5px;
    }

    .form-control:focus {
        border-color: #D1A247;
        box-shadow: 0 0 0 0.25rem rgba(209, 162, 71, 0.25);
    }

    .text-editar {
        color: #185757; 
        font-family: "Kavoon", sans-serif;
    }
</style>
{% endblock %}
