{% extends 'base.html' %}
{% block content %} 
{% include 'nave/nave.html' %}

    <div class="container">
        <div class="row mt-4 justify-content-center">
            <h2 class="w-100 text-center">Crie o seu petgram</h2>
        </div>
        <form action="" method="post" class="row mt-4 p-4 round border shadow" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
        
            <div class="form-group mb-3">
                {{ form.mensagem.label(class="form-label") }}
                {{ form.mensagem(class="form-control custom-textarea", placeholder="Digite sua mensagem aqui...") }}
            </div>
            <div class="form-group mb-3">
                {{ form.imagem.label(class="form-label") }}
                {{ form.imagem(class="form-control") }}
            </div>
            <div class="form-group mb-3">
                {{ form.categoria_petgram.label(class="form-label") }}
                {{ form.categoria_petgram(class="form-control") }}
            </div>
            <div class="form-group mb-3">
                {{ form.btnSubmit(class="btn btn-warning") }}
            </div>
        </form>
    </div>
    <style>
        .custom-textarea {
            height: 100px;
        }
        .form-group {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .form-group label {
            margin-bottom: 5px; 
        }
    </style>
{% endblock %}
