{% extends 'base.html' %}
{% block content %}
{% include 'nave.html' %}
    <div class="container">
        <div class="row mt-4">
            <h3>Faça seu Cadastro</h3>
        </div>
        <form action="" method="post" class="row mt-4 p-4 round border shadow">
           {{form.csrf_token}}
           
           {{form.nome(class="form-control", placeholder="Digite seu nome...")}}

           {{form.sobrenome(class="form-control", placeholder="Digite seu sobrenome...", style="margin-top: 20px;")}}

           {{form.email(class="form-control", placeholder="Digite seu melhor E-mail...", style="margin-top: 20px;")}}

           {{form.senha(class="form-control", placeholder="Digite uma senha segura...", style="margin-top: 20px;")}}

           {{form.confirmacao_senha(class="form-control", placeholder="Confirme sua senha...", style="margin-top: 20px;")}}

           {{form.btnSubmit(class="btn btn-warning col-12 mt-3")}}

        </form>
    </div>
{% endblock %}     