{% extends 'base.html' %}

{% block content %}
{% include 'nave/nave.html' %}

<div class="container mt-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        <strong>{{ category | capitalize }}!</strong> {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <h3 class="text-center mb-4" style="color: #297272;">Editar Comentário</h3>
    
    <form action="{{ url_for('editar_comentario', comentario_id=comentario.id) }}" method="POST" class="row mt-4 p-4 rounded shadow-lg" style="background-color: #E8EEEE;">
        <div class="form-group mb-3">
            <label for="conteudo" class="form-label text-muted">Conteúdo do Comentário</label>
            <textarea name="conteudo" class="form-control custom-textarea" placeholder="Edite seu comentário..." style="background-color: #D9D9D9;" rows="4" required>{{ comentario.conteudo }}</textarea>
        </div>
        
        <div class="form-group mb-3">
            <button type="submit" class="btn btn-warning w-100">Salvar</button>
        </div>
        
        <div class="form-group mb-3">
            <a href="{{ url_for('postLista') }}" class="btn btn-secondary w-100">Cancelar</a>
        </div>
    </form>
</div>

<style>
    body {
        background-color: #E8EEEE; /* Cor de fundo do body */
    }
    
    .custom-textarea {
        height: 100px;
        border: 2px solid #D9D9D9;
        border-radius: 5px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .form-group label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .btn-primary {
        background-color: #185757;
        border-color: #185757;
    }

    .btn-primary:hover {
        background-color: #D1A247;
        border-color: #D1A247;
    }

    .btn-warning {
        background-color: #D1A247;
        border-color: #D1A247;
    }

    .btn-warning:hover {
        background-color: #185757;
        border-color: #185757;
    }

    .container {
        padding: 30px;
        border-radius: 10px;
    }

    .form-control {
        border: 2px solid #D9D9D9;
        border-radius: 5px;
    }

    .form-control:focus {
        border-color: #D1A247;
        box-shadow: 0 0 0 0.25rem rgba(209, 162, 71, 0.25);
    }

    .titlezin {
        color: #185757; /* Cor ajustada para o título */
        font-family: "Kavoon", sans-serif;
    }
</style>

{% endblock %}
