    {% extends 'base.html' %}
    {% block content %} 

        <!-- NavBar -->
    <div alt="Principal">

        <nav>
            {% include 'nave/nave.html' %}
        </nav>

        <div class="headline">

            <div>
                <h1 class="headline-tt">Tudo sobre </span><span style="color: #d1a247" ;>animais exóticos</span></h1>
                <p class="headline-p">Descubra o mundo dos animais exóticos com nosso Blog! <br> Conecte-se com outros apaixonados e compartilhe suas aventuras no Petgram!</p>

                <!-- Newslatter -->
                <p class="newslatter-p">Inscreva-se abaixo para receber conteúdos</p>
                <input class="newslatter-input" placeholder="insira seu Email" required />
                <button class="newslatter-button" type="submit">Quero receber</button>
            </div>

            <div class="headline-imagem">
                <img src="static/images/Guaxi.png" alt="Capivara">
            </div>

        </div>

        

        <div class="destaques-ezooticos">
            <h1 class="destaques-ezooticos-h1">Destaques Ezooticos</h1>
            <h2 class="destaques-semana-h1">Últimas postagens</h2>

            <!-- Destaques da semana -->
            <div class="destaques-semana">
                {% for linha in posts %}
                <tr>
                    <td colspan="4">
                        <!-- Estrutura do Post -->
                        <div class="post-estrutura d-flex flex-column border p-3 mb-2 rounded-3">
                            <h4 class="text-center text-white"></h4>
                            <p><strong>Mensagem:</strong> {{ linha.mensagem }}</p>
                            <p><strong>Usuário:</strong> {{ linha.user.nome }}</p>
                            <p><strong>Categoria:</strong> {{ linha.categoria }}</p>
                            <p><em>Publicado em 
                                {% if linha.data_criacao %}
                                    {{ linha.data_criacao.strftime('%d/%m/%Y %H:%M') }}
                                {% else %}
                                    Data não disponível
                                {% endif %}
                            </em></p>                                {% if linha.imagem %}
                            <img style="width: 30vw; height: 50vh;" src="{{ url_for('static', filename='uploads/' ~ linha.imagem) }}" alt="Imagem do Post" class="img-fluid mb-2">
                            {% endif %}

                            <!-- Comentários do Post -->
                            <div class="bg-light p-3 rounded-3">
                                <h4 class="text-center mt-3 mb-4">Comentários</h4>

                                <!-- Formulário de Comentários -->
                                <form action="{{ url_for('comentar_post', post_id=linha.id) }}" method="POST" class="mt-2">
                                    <div class="form-group">
                                        <textarea name="conteudo" class="form-control" placeholder="Adicione um comentário..." required></textarea>
                                        <button type="submit" class="btn btn-warning mt-2 mb-3">Comentar</button>
                                    </div>
                                    <hr>
                                </form>

                                <!-- Exibição dos Comentários -->
                                <div>
                                    {% if linha.comentarios|length == 0 %}
                                        <p>Não existe nenhum comentário</p>
                                    {% else %}
                                        {% for comentario in linha.comentarios %}
                                            <div class="border p-2 mb-2 rounded-2">
                                                <p>
                                                    {{ comentario.conteudo }} <br><br>
                                                    <small>Comentário feito por: <strong>{{ comentario.user.nome }}</strong></small>
                                                </p>
                                                {% if comentario.user_id == current_user.id %}
                                                    <div class="d-flex">
                                                        <a href="{{ url_for('editar_comentario', comentario_id=comentario.id) }}" class="btn btn-primary btn-sm me-2">Editar</a>
                                                        <form action="{{ url_for('excluir_comentario', comentario_id=comentario.id) }}" method="POST" style="display:inline;">
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                                                        </form>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Botões de Ação do Post -->
                            {% if linha.user.id == current_user.id %}
                                <div class="d-flex">
                                    <a href="{{ url_for('editar_post', post_id=linha.id) }}" class="btn btn-primary btn-sm me-2">Editar</a>
                                    <form action="{{ url_for('excluir_post', post_id=linha.id) }}" method="POST" style="display:inline;">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
        </div>



        <style>
            /* Fontes */
            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

            body {
                background-color: #D2D2AC;
            }

            .headline {
                padding: 8% 5% 0% 5%;
                display: flex;
                justify-content: space-between;
            }

            .headline-tt {
                color: #297272;
                font-family: 'Kavoon', sans-serif;
                font-weight: 500;
                font-size: 50px;
            }

            .headline-p {
                font-family: 'Poppins', sans-serif;
                font-size: 0.9vw;
                color: #297272;
                padding-bottom: 2%;
            }

            .headline-imagem img {
                padding: 0% 30% 30% 0%;
                width: 30vw;
                height: 60vh;
            }

            .newslatter-p {
                font-family: 'Poppins', sans-serif;
                font-size: 0.8vw;
                color: #297272;
            }

            .newslatter-input {
                padding: 2% 0% 2% 2%;
                border-radius: 20px 0px 0px 20px;
                font-family: 'Poppins', sans-serif;
                font-size: 1.5vb;
                background-color: #D2D2AC;
                border: 2px solid #d1a247;
            }

            .newslatter-button {
                padding: 2.3% 2% 2.2% 2%;
                border-radius: 0px 20px 20px 0px;
                border-style: none;
                background-color: #297272;   
                font-family: 'Poppins', sans-serif;
                font-size: 1.5vh;
                color: white;
                margin-left: -1%;
            }

            .destaques-ezooticos-h1 {
                font-family: 'Kavoon', sans-serif;
                opacity: 70%;
                color: #E8EEEE;
                padding: 4% 0% 0% 0%;
                background-color: #297272;
                text-align: center;
            }

            .destaques-ezooticos {
                background-color: #297272;
            }

            .destaques-semana {
                display: flex;
                justify-content: space-between;
                padding: 4%;   
                background-color: #297272;      
            }

            .destaques-semana-h1 {
                font-family: 'Kavoon', sans-serif;
                font-size: 1.5vw;
                opacity: 70%;
                color: #E8EEEE;
                padding: 3% 0% 0% 4%
            }

            .dest-lista {
                margin: 0% 5% 0% 0%;
                width: 65%;
                height: 50%;
            }

            .dest-1 {
                margin: 0% 0% 10% 0%;
                padding: 5% 5% 0% 5%;
                display: flex;
                color: white;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                border-radius: 10px;
                background-color: rgba(74, 134, 134);
                width: 100%;
            }

            .dest-2 {
                color: white;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                border-radius: 10px;
                background-color: rgba(74, 134, 134);
                margin: 0% 0% 10% 0%;
                padding: 5% 5% 0% 5%;
                display: flex;
            }

            .dest-3 {
                color: white;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                border-radius: 10px;
                background-color: rgba(74, 134, 134);
                padding: 5% 5% 0% 5%;
                display: flex;
            }

            .criar-blog {
                color: white;
                border-radius: 10px;
                background-color: rgba(74, 134, 134);
                padding: 10%;
                margin-bottom: 20px;
            }

            .criar-blog h1 {
                font-family: 'Poppins', sans-serif;
                font-size: 1.5vw;
            }

            .criar-blog p {
                font-family: 'Poppins', sans-serif;
                font-size: 1vw;
            }

            .criar-blog-button {
                border-radius: 10px;
                padding: 5% 10% 0% 10%;
                color: white;
                font-family: 'Poppins', sans-serif;
                background-color: transparent;
                border: 2px solid #ffffff;
            }

        </style>

    {% endblock %}