{% extends 'base.html' %}
{% block content %}
    <div class="container">
        {% include 'nave.html' %}
        <div class="row mt-4">
            <h2 class="w-100 text-center">Petgram</h2>
            <div class="col-12">
                <table class="table">
                    <tbody>
                        {% for linha in petgrams %}
                        <tr>
                            <td colspan="4">
                                <!-- Estrutura do Petgram -->
                                <div class="petgram-estrutura d-flex flex-column border p-3 mb-2 rounded-3">

                                    <!-- Informações do Petgram -->
                                    <div class="petgram-info d-flex flex-column mb-4">
                                        <h4 class="w-100 text-center text-white">Petgram: {{ linha.id }}</h4>
                                        <p><strong>Mensagem:</strong> {{ linha.mensagem }}</p>
                                        <p><strong>Usuário:</strong> {{ linha.user.nome }}</p>
                                        {% if linha.imagem %}
                                        <img src="{{ url_for('static', filename='uploads/' ~ linha.imagem) }}" alt="Imagem do Post" class="img-fluid mb-2">
                                        {% endif %}
                                    </div>

                                    <!-- Comentários do Petgram -->
                                    <div class="petgram-comentarios bg-light p-3 rounded-3">
                                        <h4 class="w-100 text-center mt-3 mb-4">Comentários</h4>
                                        
                                        <!-- Formulário de Comentários -->
                                        <form action="{{ url_for('comentar_petgram', petgram_id=linha.id) }}" method="POST" class="mt-2">
                                            <div class="form-group">
                                                <textarea name="conteudo" class="form-control" placeholder="Adicione um comentário..." required></textarea>
                                                <button type="submit" class="btn btn-warning mt-2 mb-3">Comentar</button>
                                            </div>
                                            <hr class="text-white">
                                        </form>

                                        <!-- Exibição dos Comentários -->
                                        <div class="comentarios-visualizacao">
                                            {% if linha.comentarios|length == 0 %}
                                                <p>Não existe nenhum comentário</p>
                                            {% else %}
                                                {% for comentario in linha.comentarios %}
                                                    <div class="comentario-item border p-2 mb-2 rounded-2">
                                                        <p>
                                                            {{ comentario.conteudo }} <br><br>
                                                            <small>Comentário feito por: <strong>{{ comentario.user.nome }}</strong></small>
                                                        </p>
                                                        {% if comentario.user_id == current_user.id %}
                                                            <div class="actions d-flex">
                                                                <a href="{{ url_for('editar_comentario_petgram', comentario_id=comentario.id) }}" class="btn btn-primary btn-sm me-2">Editar</a>
                                                                <form action="{{ url_for('excluir_comentario_petgram', comentario_id=comentario.id) }}" method="POST" style="display:inline;">
                                                                    <input type="hidden" name="_method" value="DELETE">
                                                                    <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                                                                </form>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <!-- Botões de Ação do Petgram -->
                                <div class="actions d-flex">
                                    {% if linha.user.id == current_user.id %}
                                        <a href="{{ url_for('editar_petgram', petgram_id=linha.id) }}" class="btn btn-primary btn-sm me-2">Editar</a>
                                        <form action="{{ url_for('excluir_petgram', petgram_id=linha.id) }}" method="POST" style="display:inline;">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
