{% extends 'base.html' %}
{% block content %}
    <div class="container">
        {% include 'nave.html' %}
        <div class="row mt-4">
            <h3>Lista de Posts</h3>
            <div class="col-12">
                <table class="table">
                    <tbody>
                        {% for linha in posts %}
                        <tr>
                            <td colspan="4">
                                <h5 class="mt-3">Post ID: {{ linha.id }}</h5>
                                
                                <div class="d-flex flex-column border p-3 mb-2">
                                    <div class="d-flex flex-column">
                                        <p><strong>Mensagem:</strong> {{ linha.mensagem }}</p>
                                        <p><strong>Usuário:</strong> {{ linha.user.nome }}</p>
                                    </div>
                                </div>

                                <div class="actions d-flex">
                                    {% if linha.user.id == current_user.id %}
                                        <a href="{{ url_for('editar_post', post_id=linha.id) }}" class="btn btn-primary btn-sm mb-2" style="width: auto;">Editar</a>
                                        
                                        <form action="{{ url_for('excluir_post', post_id=linha.id) }}" method="POST" style="display:inline;">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button type="submit" class="btn btn-danger btn-sm" style="width: auto;">Excluir</button>
                                        </form>
                                    {% endif %}
                                </div>

                                <form action="{{ url_for('comentar_post', post_id=linha.id) }}" method="POST" class="mt-2">
                                    <div class="form-group">
                                        <textarea name="conteudo" class="form-control" placeholder="Adicione um comentário..." required></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-warning mt-2">Comentar</button>
                                </form>

                                <h5 class="mt-3">Comentários:</h5>
                                {% if linha.comentarios|length == 0 %}
                                    <p>Não existe nenhum comentário</p>
                                {% else %}
                                    {% for comentario in linha.comentarios %}
                                        <div class="border p-2 mb-2">
                                            <p>
                                                {{ comentario.conteudo }} <br><br>
                                                Comentário feito por: <strong>{{ comentario.user.nome }}</strong> <br>
                                            </p>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
